:root {
  /* Colors */
  --color-dark-a:   #1C1C1C;
  --color-dark-b:   #212121;
  --color-dark-c:   #2B2B2B;
  --color-dark-d:   #757575;
  --color-white-a:  #FFFFFF;
  --color-blue-a:   #6f45fb;
  --color-cyan-a:   #00FBB4;
  --color-sand-a:   #D7D1CA;

  /* Easings */
  --easeing-InExpo:     cubic-bezier(0.950, 0.050, 0.795, 0.035);
  --easeing-OutExpo:    cubic-bezier(0.190, 1.000, 0.220, 1.000);
  --easeing-InOutExpo:  cubic-bezier(1.000, 0.000, 0.000, 1.000);

  /* Timing */
  --anim-time:   0.62s;

  /* Line heights */
  --line-height: 1.65;

  /* Standard */
  --baseline: 1.7778rem;
}
